table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid;
  text-align: left;
  padding: 8px;
  width: 100px;
}

tr:nth-child(even) {
  background-color: white;
}

#controlTable {
  display: none;
}

.btn {
    padding: 10px 20px;
    margin: 2px;
    cursor: pointer;
    display: inline-block;
}

.selected {
    border: 3px solid #000; /* Highlight the selected button */
}
