table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid;
    text-align: left;
    padding: 8px;
    width: 100px;
}

tr:nth-child(even) {
    background-color: white;
}

#controlTable {
    display: none;
}

.btn {
    padding: 10px 20px;
    margin: 2px;
    cursor: pointer;
}

#calculate:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
        inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
