th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: white;
}

#controlTable {
    display: none;
}

.btn {
    padding: 10px 20px;
    margin: 2px;
    cursor: pointer;
}

#calculate:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
        inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.bonus {
    display: flex;
    flex-direction: column;
    width: 300px;
}
